.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.disclaimer {
  font-size: small;
  margin: 1% 20%;
}

.iconCredits {
  font-size: 0.5em;
}